.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  margin: 0;
  padding: 0;
  font-size: 0.95em;
  color: black;
  margin-top: 60px;

  .fa-brands,
  .fa-regular,
  .fa-solid {
    margin: 5px 30px;
    font-size: 35px;
    color: black;
    cursor: pointer;
  }
  .fa-brands:hover,
  .fa-regular:hover,
  .fa-solid:hover {
    color: #1d3557;
  }

  .About__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid lightgray;
    cursor: auto;
  }
  .About__img:hover {
    border: 5px solid #1d3557;
  }
  .About__icons {
    width: 350px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: -12px;
    }
  }
  p {
    margin-top: 50px;
  }
  h4 {
    color: black;
  }
}
